  canvas {
    display: block;
    margin: 0 auto;
  }

  #welcome-message {
    text-align: center;
    width: 100%;
  }
  

/*
 * Background: #F5EEDC => amber-50
 * Headers, Banners, etc.. : #27548A => blue-900
 * Text 1 (Dark): #183B4E => blue-950
 * Text 2 (Light): #DDA853 => amber-400
 */ 