  canvas {
    display: block;
    margin: 0 auto;
  }

  #welcome-message {
    text-align: center;
    width: 100%;
  }
  

/*
 * Background: #F5EEDC
 * Headers, Banners, etc.. : #27548A
 * Text 1 (Dark): #183B4E
 * Text 2 (Light): #DDA853
 */ 